In [1]:
import pandas as pd

In [3]:
data_2019 = pd.read_csv('Data/London-2019-11-listings.csv', low_memory=False)
data_2020 = pd.read_csv('Data/London-2020-11-listings.csv', low_memory=False)
data_2021 = pd.read_csv('Data/London-2021-10-listings.csv', low_memory=False)
data_2022 = pd.read_csv('Data/London-2022-09-10-listings.csv', low_memory=False)
data_2023 = pd.read_csv('Data/London-2023-09-06-listings.csv', low_memory=False)

In [4]:
# 定义要保留的列名及其在不同年份数据集中的可能变体
columns_mapping = {
    'id': ['id'],
    'name': ['name'],
    'latitude': ['latitude'],
    'longitude': ['longitude'],
    'neighbourhood': ['neighbourhood', 'neighborhood', 'neighbourhood_cleansed'],
    'room_type': ['room_type'],
    'price': ['price'],
    'minimum_nights': ['minimum_nights'],
    'availability_365': ['availability_365'],
    'number_of_reviews': ['number_of_reviews'],
    'reviews_per_month': ['reviews_per_month'],
    'last_review': ['last_review'],
    'host_id': ['host_id'],
    'calculated_host_listings_count': ['calculated_host_listings_count', 'host_total_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms']
}

In [5]:
# 应用映射来调整一个数据集的列名
def adjust_column_names(dataframe, column_mapping):
    for standardized_name, potential_names in column_mapping.items():
        for potential_name in potential_names:
            if potential_name in dataframe.columns:
                dataframe.rename(columns={potential_name: standardized_name}, inplace=True)
                break  # 一旦找到并重命名，跳出循环

In [9]:
adjust_column_names(data_2019, columns_mapping)
adjust_column_names(data_2020, columns_mapping)
adjust_column_names(data_2021, columns_mapping)
adjust_column_names(data_2022, columns_mapping)

In [12]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85236 entries, 0 to 85235
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              85236 non-null  object
 1   name                            85235 non-null  object
 2   host_id                         85236 non-null  object
 3   host_name                       85236 non-null  object
 4   neighbourhood_group             85236 non-null  object
 5   neighbourhood                   85236 non-null  object
 6   latitude                        85236 non-null  object
 7   longitude                       85236 non-null  object
 8   room_type                       85236 non-null  object
 9   price                           85236 non-null  object
 10  minimum_nights                  85236 non-null  object
 11  number_of_reviews               85236 non-null  object
 12  last_review                     85236 non-null  object
 13  reviews_per_month               85236 non-null  object
 14  calculated_host_listings_count  85236 non-null  object
 15  availability_365                85236 non-null  object
 16  room_class                      85236 non-null  object
 17  last_review_timestamp           85236 non-null  object
dtypes: object(18)
memory usage: 11.7+ MB

In [24]:
def check_ifMatched_columns(dataframe, column_mapping):
    standardized_columns = set(column_mapping.keys())
    dataframe_columns = set(dataframe.columns)
    
    # 查找数据集中存在但不在标准化列名中的列
    unmatched_columns = dataframe_columns - standardized_columns
    matched_columns = dataframe_columns & standardized_columns

    return unmatched_columns, matched_columns

In [26]:
# 使用函数检查未匹配的列
unmatched_columns, matched_columns = check_ifMatched_columns(data_2019, columns_mapping)

print("未匹配的列：", unmatched_columns)
print("匹配的列：", matched_columns)

# 手动处理这些列
# 决定删除某个未匹配的列
# data.drop(columns=['unwanted_column'], inplace=True)

# 或者重命名某个未匹配的列
# data.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)

未匹配的列： {'neighbourhood_group', 'last_review_timestamp', 'host_name', 'room_class'}
匹配的列： {'host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month'}

In [27]:
# 使用函数检查未匹配的列
unmatched_columns, matched_columns = check_ifMatched_columns(data_2020, columns_mapping)

print("未匹配的列：", unmatched_columns)
print("匹配的列：", matched_columns)

未匹配的列： {'scrape_id', 'calculated_host_listings_count_shared_rooms', 'host_response_rate', 'review_scores_rating', 'review_scores_value', 'description', 'neighborhood_overview', 'calendar_last_scraped', 'host_acceptance_rate', 'host_is_superhost', 'maximum_nights', 'host_neighbourhood', 'calculated_host_listings_count_private_rooms', 'host_response_time', 'has_availability', 'maximum_nights_avg_ntm', 'minimum_maximum_nights', 'host_location', 'minimum_nights_avg_ntm', 'review_scores_checkin', 'review_scores_location', 'last_scraped', 'host_listings_count', 'host_thumbnail_url', 'availability_60', 'host_name', 'maximum_maximum_nights', 'host_identity_verified', 'bedrooms', 'host_about', 'host_verifications', 'number_of_reviews_ltm', 'neighbourhood_cleansed', 'maximum_minimum_nights', 'host_total_listings_count', 'host_picture_url', 'review_scores_communication', 'number_of_reviews_l30d', 'calendar_updated', 'bathrooms', 'instant_bookable', 'review_scores_cleanliness', 'availability_30', 'review_scores_accuracy', 'bathrooms_text', 'first_review', 'calculated_host_listings_count_entire_homes', 'minimum_minimum_nights', 'neighbourhood_group_cleansed', 'picture_url', 'property_type', 'license', 'host_url', 'accommodates', 'beds', 'availability_90', 'amenities', 'listing_url', 'host_has_profile_pic', 'host_since'}
匹配的列： {'host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month'}

In [28]:
# 使用函数检查未匹配的列
unmatched_columns, matched_columns = check_ifMatched_columns(data_2021, columns_mapping)

print("未匹配的列：", unmatched_columns)
print("匹配的列：", matched_columns)

未匹配的列： {'scrape_id', 'calculated_host_listings_count_shared_rooms', 'host_response_rate', 'review_scores_rating', 'review_scores_value', 'description', 'neighborhood_overview', 'calendar_last_scraped', 'host_acceptance_rate', 'host_is_superhost', 'maximum_nights', 'host_neighbourhood', 'calculated_host_listings_count_private_rooms', 'host_response_time', 'has_availability', 'maximum_nights_avg_ntm', 'minimum_maximum_nights', 'host_location', 'minimum_nights_avg_ntm', 'review_scores_checkin', 'review_scores_location', 'last_scraped', 'host_listings_count', 'host_thumbnail_url', 'availability_60', 'host_name', 'maximum_maximum_nights', 'host_identity_verified', 'bedrooms', 'host_about', 'host_verifications', 'number_of_reviews_ltm', 'neighbourhood_cleansed', 'maximum_minimum_nights', 'host_total_listings_count', 'host_picture_url', 'review_scores_communication', 'number_of_reviews_l30d', 'calendar_updated', 'bathrooms', 'instant_bookable', 'review_scores_cleanliness', 'availability_30', 'review_scores_accuracy', 'bathrooms_text', 'first_review', 'calculated_host_listings_count_entire_homes', 'minimum_minimum_nights', 'neighbourhood_group_cleansed', 'picture_url', 'property_type', 'license', 'host_url', 'accommodates', 'beds', 'availability_90', 'amenities', 'listing_url', 'host_has_profile_pic', 'host_since'}
匹配的列： {'host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month'}

In [29]:
# 使用函数检查未匹配的列
unmatched_columns, matched_columns = check_ifMatched_columns(data_2022, columns_mapping)

print("未匹配的列：", unmatched_columns)
print("匹配的列：", matched_columns)

未匹配的列： {'scrape_id', 'calculated_host_listings_count_shared_rooms', 'host_response_rate', 'review_scores_rating', 'review_scores_value', 'description', 'neighborhood_overview', 'calendar_last_scraped', 'host_acceptance_rate', 'host_is_superhost', 'maximum_nights', 'host_neighbourhood', 'calculated_host_listings_count_private_rooms', 'host_response_time', 'has_availability', 'maximum_nights_avg_ntm', 'minimum_maximum_nights', 'host_location', 'minimum_nights_avg_ntm', 'review_scores_checkin', 'review_scores_location', 'last_scraped', 'host_listings_count', 'host_thumbnail_url', 'availability_60', 'host_name', 'maximum_maximum_nights', 'host_identity_verified', 'bedrooms', 'host_about', 'host_verifications', 'number_of_reviews_ltm', 'neighbourhood_cleansed', 'maximum_minimum_nights', 'source', 'host_total_listings_count', 'host_picture_url', 'review_scores_communication', 'number_of_reviews_l30d', 'calendar_updated', 'bathrooms', 'instant_bookable', 'review_scores_cleanliness', 'availability_30', 'review_scores_accuracy', 'bathrooms_text', 'first_review', 'calculated_host_listings_count_entire_homes', 'minimum_minimum_nights', 'neighbourhood_group_cleansed', 'picture_url', 'property_type', 'license', 'host_url', 'accommodates', 'beds', 'availability_90', 'amenities', 'listing_url', 'host_has_profile_pic', 'host_since'}
匹配的列： {'host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month'}

In [30]:
# 使用函数检查未匹配的列
unmatched_columns, matched_columns = check_ifMatched_columns(data_2023, columns_mapping)

print("未匹配的列：", unmatched_columns)
print("匹配的列：", matched_columns)

未匹配的列： {'neighbourhood_group', 'number_of_reviews_ltm', 'license', 'host_name'}
匹配的列： {'host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month'}

In [67]:
# 定义所有数据集共有的匹配列
matched_columns = ['host_id', 'id', 'calculated_host_listings_count', 'name', 'minimum_nights', 'latitude', 'room_type', 'price', 'availability_365', 'number_of_reviews', 'longitude', 'last_review', 'neighbourhood', 'reviews_per_month']

# 确保每个数据集只包含这些匹配列，并创建副本
data_2019_selected = data_2019[matched_columns].copy()
data_2020_selected = data_2020[matched_columns].copy()
data_2021_selected = data_2021[matched_columns].copy()
data_2022_selected = data_2022[matched_columns].copy()
data_2023_selected = data_2023[matched_columns].copy()

# 为每个数据集添加年份列
data_2019_selected['year'] = 2019
data_2020_selected['year'] = 2020
data_2021_selected['year'] = 2021
data_2022_selected['year'] = 2022
data_2023_selected['year'] = 2023

# 合并数据集
all_data = pd.concat([data_2019_selected, data_2020_selected, data_2021_selected, data_2022_selected, data_2023_selected])

# 重置索引
all_data.reset_index(drop=True, inplace=True)

In [68]:
all_data.info()
all_data.head()
all_data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390135 entries, 0 to 390134
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   host_id                         390135 non-null  object
 1   id                              390135 non-null  object
 2   calculated_host_listings_count  390135 non-null  object
 3   name                            390066 non-null  object
 4   minimum_nights                  390135 non-null  object
 5   latitude                        390135 non-null  object
 6   room_type                       390135 non-null  object
 7   price                           390135 non-null  object
 8   availability_365                390135 non-null  object
 9   number_of_reviews               390135 non-null  object
 10  longitude                       390135 non-null  object
 11  last_review                     308377 non-null  object
 12  neighbourhood                   303007 non-null  object
 13  reviews_per_month               308377 non-null  object
 14  year                            390135 non-null  int64
dtypes: int64(1), object(14)
memory usage: 44.6+ MB

(390135, 15)

In [69]:
# 计算包含至少一个缺失值的行数
num_rows_with_missing_values = all_data.isna().any(axis=1).sum()
print(f"包含至少一个缺失值的行数: {num_rows_with_missing_values}")

包含至少一个缺失值的行数: 134065

In [70]:
# 计算每列的缺失值数量
missing_values_per_column = all_data.isna().sum()

# 打印每列的缺失值数量
print(missing_values_per_column)

host_id                               0
id                                    0
calculated_host_listings_count        0
name                                 69
minimum_nights                        0
latitude                              0
room_type                             0
price                                 0
availability_365                      0
number_of_reviews                     0
longitude                             0
last_review                       81758
neighbourhood                     87128
reviews_per_month                 81758
year                                  0
dtype: int64

In [72]:
# 删除 'name' 列中含有缺失值的行
all_data.dropna(subset=['name'], inplace=True)

# 对每个年份计算 last_review 的众数
mode_per_year = all_data.groupby('year')['last_review'].agg(pd.Series.mode)

# 对于每个年份的数据，填充 last_review 的缺失值为该年份的众数
for year in mode_per_year.index:
    mode = mode_per_year[year]
    # 如果众数是一个系列，则取第一个元素
    if isinstance(mode, pd.Series):
        mode = mode.iloc[0]
    all_data.loc[all_data['year'] == year, 'last_review'] = all_data.loc[all_data['year'] == year, 'last_review'].fillna(mode)

# 确保 reviews_per_month 列是数值类型
all_data['reviews_per_month'] = pd.to_numeric(all_data['reviews_per_month'], errors='coerce')

# 对每个年份计算 reviews_per_month 的平均值
mean_per_year = all_data.groupby('year')['reviews_per_month'].mean()

# 对于每个年份的数据，填充 reviews_per_month 的缺失值为该年份的平均值
for year in mean_per_year.index:
    mean = mean_per_year[year]
    all_data.loc[all_data['year'] == year, 'reviews_per_month'] = all_data.loc[all_data['year'] == year, 'reviews_per_month'].fillna(mean)

# 填充 neighbourhood 列的缺失值为 "Unknown"
all_data['neighbourhood'].fillna("Unknown", inplace=True)

print(all_data.isna().sum())

host_id                           0
id                                0
calculated_host_listings_count    0
name                              0
minimum_nights                    0
latitude                          0
room_type                         0
price                             0
availability_365                  0
number_of_reviews                 0
longitude                         0
last_review                       0
neighbourhood                     0
reviews_per_month                 0
year                              0
dtype: int64

In [73]:
all_data.info()
all_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 390066 entries, 0 to 390134
Data columns (total 15 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   host_id                         390066 non-null  object
 1   id                              390066 non-null  object
 2   calculated_host_listings_count  390066 non-null  object
 3   name                            390066 non-null  object
 4   minimum_nights                  390066 non-null  object
 5   latitude                        390066 non-null  object
 6   room_type                       390066 non-null  object
 7   price                           390066 non-null  object
 8   availability_365                390066 non-null  object
 9   number_of_reviews               390066 non-null  object
 10  longitude                       390066 non-null  object
 11  last_review                     390066 non-null  object
 12  neighbourhood                   390066 non-null  object
 13  reviews_per_month               390066 non-null  float64
 14  year                            390066 non-null  int64
dtypes: float64(1), int64(1), object(13)
memory usage: 47.6+ MB

,host_id,id,calculated_host_listings_count,name,minimum_nights,latitude,room_type,price,availability_365,number_of_reviews,longitude,last_review,neighbourhood,reviews_per_month,year
0,49602995,9582415,1,Single/Twin/Double Ensuite near Twickenham Sta...,1,51.44473,Private room,35,278,47,-.379,2019-11-06,Richmond upon Thames,2.27,2019
1,70374572,23013522,3,"Spacious room with double bed for 2, Twickenham",1,51.45867,Private room,19,23,131,-.34444,2019-11-06,Hounslow,6.52,2019
2,25587547,25796711,1,Stunning Central London Apartment Close The River,7,51.47398,Entire home/apt,103,317,8,-.21531,2019-11-06,Hammersmith and Fulham,0.51,2019
3,57607790,29060134,1,Recently renovated fabulous four bedroom house,14,51.52716,Entire home/apt,85,346,5,-.44164,2019-11-06,Hillingdon,0.40,2019
4,228095684,30374086,3,Lovely cosy flat for 4 in Heart of North London,3,51.59118,Entire home/apt,85,139,16,-.1667,2019-11-06,Barnet,1.52,2019

In [74]:
# 首先移除价格中的非数字字符（如货币符号、逗号、空格等）
all_data['price'] = all_data['price'].replace('[\$, ]', '', regex=True)
# 将字符串转换为数值类型
# 定义需要转换为数值的列名
numeric_columns = ['host_id', 'id', 'calculated_host_listings_count', 'minimum_nights', 'latitude', 'availability_365', 'number_of_reviews', 'longitude', 'reviews_per_month', 'price']

# 循环遍历每个列名，将其转换为数值类型
for column in numeric_columns:
    all_data[column] = pd.to_numeric(all_data[column], errors='coerce')

# 检查转换后的数据类型
print(all_data.dtypes)
all_data.head()

host_id                           float64
id                                float64
calculated_host_listings_count    float64
name                               object
minimum_nights                    float64
latitude                          float64
room_type                          object
price                             float64
availability_365                  float64
number_of_reviews                 float64
longitude                         float64
last_review                        object
neighbourhood                      object
reviews_per_month                 float64
year                                int64
dtype: object

,host_id,id,calculated_host_listings_count,name,minimum_nights,latitude,room_type,price,availability_365,number_of_reviews,longitude,last_review,neighbourhood,reviews_per_month,year
0,49602995.0,9582415.0,1.0,Single/Twin/Double Ensuite near Twickenham Sta...,1.0,51.44473,Private room,35.0,278.0,47.0,-0.37900,2019-11-06,Richmond upon Thames,2.27,2019
1,70374572.0,23013522.0,3.0,"Spacious room with double bed for 2, Twickenham",1.0,51.45867,Private room,19.0,23.0,131.0,-0.34444,2019-11-06,Hounslow,6.52,2019
2,25587547.0,25796711.0,1.0,Stunning Central London Apartment Close The River,7.0,51.47398,Entire home/apt,103.0,317.0,8.0,-0.21531,2019-11-06,Hammersmith and Fulham,0.51,2019
3,57607790.0,29060134.0,1.0,Recently renovated fabulous four bedroom house,14.0,51.52716,Entire home/apt,85.0,346.0,5.0,-0.44164,2019-11-06,Hillingdon,0.40,2019
4,228095684.0,30374086.0,3.0,Lovely cosy flat for 4 in Heart of North London,3.0,51.59118,Entire home/apt,85.0,139.0,16.0,-0.16670,2019-11-06,Barnet,1.52,2019

In [75]:
# 定义需要转换为整数的列名
integer_columns = ['host_id', 'id', 'calculated_host_listings_count', 'minimum_nights', 'availability_365', 'number_of_reviews']

# 循环遍历每个列名，将其转换为整数类型
for column in integer_columns:
    all_data[column] = pd.to_numeric(all_data[column], errors='coerce').fillna(0).astype(int)

# 检查转换后的数据类型
print(all_data.dtypes)
all_data.head()

host_id                             int64
id                                  int64
calculated_host_listings_count      int64
name                               object
minimum_nights                      int64
latitude                          float64
room_type                          object
price                             float64
availability_365                    int64
number_of_reviews                   int64
longitude                         float64
last_review                        object
neighbourhood                      object
reviews_per_month                 float64
year                                int64
dtype: object

,host_id,id,calculated_host_listings_count,name,minimum_nights,latitude,room_type,price,availability_365,number_of_reviews,longitude,last_review,neighbourhood,reviews_per_month,year
0,49602995,9582415,1,Single/Twin/Double Ensuite near Twickenham Sta...,1,51.44473,Private room,35.0,278,47,-0.37900,2019-11-06,Richmond upon Thames,2.27,2019
1,70374572,23013522,3,"Spacious room with double bed for 2, Twickenham",1,51.45867,Private room,19.0,23,131,-0.34444,2019-11-06,Hounslow,6.52,2019
2,25587547,25796711,1,Stunning Central London Apartment Close The River,7,51.47398,Entire home/apt,103.0,317,8,-0.21531,2019-11-06,Hammersmith and Fulham,0.51,2019
3,57607790,29060134,1,Recently renovated fabulous four bedroom house,14,51.52716,Entire home/apt,85.0,346,5,-0.44164,2019-11-06,Hillingdon,0.40,2019
4,228095684,30374086,3,Lovely cosy flat for 4 in Heart of North London,3,51.59118,Entire home/apt,85.0,139,16,-0.16670,2019-11-06,Barnet,1.52,2019

In [76]:
# 循环遍历数据集的每一列
for column in all_data.columns:
    # 检查列的数据类型是否为 object
    if all_data[column].dtype == 'object':
        # 将 object 类型的列转换为字符串
        all_data[column] = all_data[column].astype(str)

# 检查转换后的数据类型
print(all_data.dtypes)

host_id                             int64
id                                  int64
calculated_host_listings_count      int64
name                               object
minimum_nights                      int64
latitude                          float64
room_type                          object
price                             float64
availability_365                    int64
number_of_reviews                   int64
longitude                         float64
last_review                        object
neighbourhood                      object
reviews_per_month                 float64
year                                int64
dtype: object

In [78]:
import os

# 创建 Data 文件夹
data_folder = "Data_clean"
if not os.path.exists(data_folder):
    os.makedirs(data_folder)

# 导出 DataFrame 到 CSV 文件
output_file = os.path.join(data_folder, "all_data.csv")
all_data.to_csv(output_file, index=False)